---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { components } from '@components/mdx';

export const prerender = true;
export interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog', ({ data }) => !data.draft);

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout description={post.data.description} title={post.data.title} cover={post.data.cover}>
  <h1 class="h1">{post.data.title}</h1>
  <Content components={components} />
</Layout>
