---
import AstroIcon from '@assets/skills/AstroIcon.astro';
import Firebase from '@assets/skills/Firebase.astro';
import MUI from '@assets/skills/MUI.astro';
import NextJS from '@assets/skills/NextJS.astro';
import ReactRouter from '@assets/skills/ReactRouter.astro';
import React from '@assets/skills/React.astro';
import Storybook from '@assets/skills/Storybook.astro';
import TailwindCSS from '@assets/skills/TailwindCSS.astro';

const skillIconClassnames = 'h-[72px] w-[72px] lg:h-[96px] lg:w-[96px] ';
---

<div class="m-w-[320px] flex flex-wrap gap-4">
  <React className={skillIconClassnames} />
  <AstroIcon className={skillIconClassnames} />
  <NextJS className={skillIconClassnames} />
  <MUI className={skillIconClassnames} />
  <ReactRouter className={skillIconClassnames} />
  <TailwindCSS className={skillIconClassnames} />
  <Firebase className={skillIconClassnames} />
  <Storybook className={skillIconClassnames} />
</div>
